.nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  color: #2e2e2e;
  padding: 0 1.2rem;
  font-size: 14px;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  &:hover {
    color: #007fff;
  }
  &:last-child {
    padding-right: 0;
  }
}
.main-nav-list {
  display: flex;
  cursor: pointer;
  font-weight: 500;
 }
 
 .nav-item.link-item {
   padding: 0 7px;
   height: 100px;
   line-height: 100px;
   margin-right: 36px;
 }